[Unit]
Description=xhci_hcd bus failure monitor
Requires=systemd-journald.socket
After=systemd-journald.socket

[Service]
Type=notify
User=root
Restart=on-failure
RestartSec=30s
ExecStart=/usr/bin/xhci_hcd-rebind

[Install]
WantedBy=multi-user.target
